

.menu {
    background-color: #dea83b;
    border-radius: 5px;
    border:  double 5px #371414;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    row-gap: px;
    
}

.menu div {
   
    border:  double 5px #371414;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    display: flex;
}

div {
    background-color: #f4e7bb;
    border:  double 5px #371414;
    border-radius: 5px;
    padding: 10px;
}


.special {
    grid-column: span 3 ;
    background-color: #f14110;
    color: white;
}

h2 {
    background-color: #dc8b59;
    border:  double 5px #371414;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    text-align: left;
    color: #f8f8f8;
}
