
header {
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
    color: rgb(126, 6, 104);
    padding: 20px 0px;
}





body {
    
    background-image: url(bg.jpg);
    background-repeat:repeat;
    background-size: cover;
}




nav {   display: inline-block;
    margin: 10px 10px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.46);
    padding: 50px 30px;
    border: thin rgb(0, 0, 0) solid;
    border-radius: 1px 1px 1px 1px;

}